.course-square-banner-circle {
    width: 430px;
    height: 430px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.course-square-banner-circle-1 {
    border-color: #3BD1B4;
}

.course-square-banner-circle-2 {
    border-color: #FF8D00;
}

.course-square-banner-img {
    width: 500px;
}

.courses-banner-img {
    width: 100%;
    margin-left: 10%;
}

.divider-line-courses {
    border-bottom-color: #FF8B39;
}

.btn-details-course-1 {
    margin-top: 16px;
    border-color: #3BD1B4 !important;

    &:hover {
        background: #3BD1B41a;
    }

    ::ng-deep .mat-button-wrapper {
        color: #3BD1B4 !important;
    }

    ::ng-deep .mat-ripple-element {
        background-color: #3BD1B4 !important;
    }
}

.btn-details-course-2 {
    margin-top: 16px;
    border-color: #FF8D00 !important;

    &:hover {
        background: #FF8D001a;
    }

    ::ng-deep .mat-button-wrapper {
        color: #FF8D00 !important;
    }

    ::ng-deep .mat-ripple-element {
        background-color: #FF8D00 !important;
    }
}

.btn-details-course-3 {
    margin-top: 16px;
    border-color: #FF8B39 !important;

    &:hover {
        background: #FF8B391a;
    }

    ::ng-deep .mat-button-wrapper {
        color: #FF8B39 !important;
    }

    ::ng-deep .mat-ripple-element {
        background-color: #FF8B39 !important;
    }
}

// lt-lg <=> md || sm || xs (for anything smaller than a desktop <=> fpr tablet, phablets or phones)
@media screen and (max-width: 1279px) {
    .course-square-banner-circle {
        padding-bottom: 78.12%;
        width: 78.12%;
        height: 0;
    }

    .course-square-banner-img {
        width: 90%;
    }
}

// lt-md <=> sm || xs (for anything smaller than a tablet <=> for phablets and phones)
@media screen and (max-width: 959px) {
    .course-square-banner-circle {
        padding-bottom: 0;
        width: 344px;
        height: 344px;
    }

    .course-square-banner-img {
        width: 400px;
    }

    .courses-banner-img {
        width: 400px;
        margin-bottom: 10%;
    }
}

// lt-sm <=> xs (for phones)
@media screen and (max-width: 599px) {
    .course-square-banner-circle {
        padding-bottom: 0;
        width: 240px;
        height: 240px;
    }

    .course-square-banner-img {
        width: 300px;
    }

    .courses-banner-img {
        width: 300px;
        margin-bottom: 10%;
    }
}
