<div class="page" fxLayout="column" fxLayoutAlign="center center">
    <div class="page-section">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="title-1">CURSURI DE CREAȚIE</div>
            <div class="title-2">artă și arhitectură</div>
            <div class="title-3">2019 - 2020</div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
            <div fxFlex="50" fxFlex.lt-md="100" class="page-section-50-column">
                <div fxLayoutAlign="center center" style="position: relative">
                    <div class="course-square-banner-circle course-square-banner-circle-1"></div>
                    <img src="./../../assets/course-square-banner-1.png" alt="letsart.education | course - WeExperiment 2019-2020" class="course-square-banner-img">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" style="color: #3BD1B4">
                    <div class="title-4">WeExperiment</div>
                    <div class="title-5">7 - 9 ani</div>
                    <a mat-stroked-button routerLink="." class="btn-details-course-1">detalii</a>
                </div>
            </div>
            <div fxFlex="50" fxFlex.lt-md="100" class="page-section-50-column">
                <div fxLayoutAlign="center center" style="position: relative">
                    <div class="course-square-banner-circle course-square-banner-circle-2"></div>
                    <img src="./../../assets/course-square-banner-2.png" alt="letsart.education | course - WeBuild 2019-2020" class="course-square-banner-img">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" style="color: #FF8D00">
                    <div class="title-4">WeBuild</div>
                    <div class="title-5">10 - 13 ani</div>
                    <a mat-stroked-button routerLink="." class="btn-details-course-2">detalii</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
            <div fxFlex="33.33" fxFlex.lt-md="100">
                <img src="./../../assets/courses-banner.png" alt="letsart.education | courses" class="courses-banner-img">
            </div>
            <div fxFlex="66.66" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center">
                <div class="title-1">SĂ CREĂM ÎMPREUNĂ</div>
                <div class="divider-line divider-line-courses"></div>
                <div class="title-2">de ce artă și arhitectură?</div>
                <div class="text-1" style="padding-left: 10%; padding-right: 10%;">
                    Arta și arhitectura reprezintă două domenii fundamentale în cadrul cărora frumosul capătă expresie. Studiindu-le astfel, ne dezvoltam sensibilitatea artistică și căpătăm cunoștințele, bucuria și inspirația, necesare actului creativ cel mai rafinat și asumat.
                </div>
                <a mat-stroked-button routerLink="." class="btn-details-course-3">cursurile noastre</a>
            </div>
        </div>
    </div>
</div>
